table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: em(40);
  th, td {
    padding: em(20) em(5);
  }
  thead {
    text-align: left;
  }
  tbody {
    tr {
      &:nth-child(odd) {
        background-color: $mute-background;
      }
    }
  }
}