// Include @font-face references
//* -----------------------------------------------------------------------
@include font-face('milliman-icons', milliman-icons);

// Customize the following to fit your specifications
// Commented out styles represent Toadstool's default bootstrap styles
//* -----------------------------------------------------------------------
html {
  font: em($font-size, 16) $primary-font-family;
  line-height: baseline($font-size);
  color: $primary-text;
  -webkit-font-smoothing: antialiased;
}

// Heading CSS rules
//* -----------------------------------------------------------------------

h1, h2, h3, h4, h5, h6 {
  @include heading();
}

h2 {
  @include text($heading-2);
}

h3 {
  @include text($heading-3);
}

h4 {
  @include text($heading-4);
}

h5 {
  @include text($heading-5);
}

h6 {
  @include text($heading-6);
}

// Standard body text support
// -----------------------------------------------------------------------
p {
  margin-bottom: baseline-margin($font-size);
  text-indent: 0;
}

a {
  color: $href-color;
  text-decoration: none;
  &:hover, &:active {
    text-decoration: none;
  }
  &:visited {
    color: $href-color;
  }
}

.row-no-padding {
  [class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
