extends layout

block content
	.container
		.row
			div(class='col-xs-3 pull-left')
				.row
					div(class='panel panel-default')
						.panel-heading
							h2(class='panel-title') Machine Name
						.panel-body
							input(type='text' id='machinename')
				.row
					div(class='panel panel-default')
						.panel-heading
							h2(class='panel-title') Instance Name
						.panel-body
							input(type='text' id='instancename')
				.row
					div(class='panel panel-default')
						.panel-heading
							h2(class='panel-title') Feature
						.panel-body
							.radio
								label 
									input(type='radio' name='FeatureOptions' id='AnalysisServiceOption' value='AnalysisService') 
									| Analaysis Service
							.radio
								label
									input(type='radio' name='FeatureOptions' id='SqlEngineOption' value='SqlEngine' checked)
									|  SQL Engine
				.row
					div(class='panel panel-default')
						.panel-heading
							h2(class='panel-title') Platform
						.panel-body
							.radio
								label
									input(type='radio' name='PlatformOptions' id='x86Option' value='x86')
									|  x86
							.radio
								label
									input(type='radio' name='PlatformOptions' id='x64Option' value='x64' checked)
									|  x64
				.row
					div(class='panel panel-default')
						.panel-heading
							h2(class='panel-title') Version
						.panel-body
							.radio
								label
									input(type='radio' name='VersionOptions' id='Sql2008Option' value='Sql2008')
									|  SQL 2008
							.radio
								label
									input(type='radio' name='VersionOptions' id='Sql2008R2Option' value='Sql2008R2')
									|  SQL 2008 R2
							.radio
								label
									input(type='radio' name='VersionOptions' id='Sql2012Option' value='Sql2012')
									|  SQL 2012
							.radio
								label
									input(type='radio' name='VersionOptions' id='Sql2014Option' value='Sql2014')
									|  SQL 2014
							.radio
								label
									input(type='radio' name='VersionOptions' id='Sql2016Option' value='Sql2016' checked)
									|  SQL 2016			
			div(class='col-xs-3')
				div(class='panel panel-default')
					.panel-heading
						h2(class='panel-title') Scenario
					div(class='panel-body' id='scenariochecklist')
						

			div(class='col-xs-6 pull-right')
				ul(class='nav nav-tabs')
					li(class='active')
						a(href='#') XEvent
					li 
						a(href='#') ProfilerTrace
					li 
						a(href='#') Perfmon
					li 
						a(href='#') Custom Diagnostics
					li
						a(href='#') Misc
				div(class='row' id='capture')
					div(class='panel panel-default col-xs-3')
						.panel-heading
							h2(class='panel-title') Capture
						.panel-body
							input(type='checkbox' id='iscapture')
					div(class='panel panel-default col-xs-4')
						.panel-heading
							h2(class='panel-title') Max Size (MB)
						.panel-body
							input(type='text' id='maxsize')
					div(class='panel panel-default col-xs-4')
						.panel-heading
							h2(class='panel-title') # Files
						.panel-body
							input(type='text' id='numberoffiles')
				.row
					div(id='xevent')
						div(class='panel panel-default')
							.panel-heading
								h2(class='panel-title') XEvent
							.panel-body
								= ok
					div(id='profiler' display='none')
					div(id='perfmon' display='none')
					div(id='customdiagnnostics' display='none')
					div(id='misc' display='none')

					
			
	script(src='//localhost:35729/livereload.js')