extends layout

block content
	.container
		.row
			div(class='col-xs-3 pull-left')
				.row
					div(class='panel panel-default')
						.panel-heading
							h2(class='panel-title') Machine Name
						.panel-body
							div(class=' input-group input-group-sm')
								input(class='form-control' type='text' id='machinename')
				.row
					div(class='panel panel-default')
						.panel-heading
							h2(class='panel-title') Instance Name
						.panel-body
							div(class=' input-group input-group-sm')
								input(class='form-control' type='text' id='instancename')
				.row
					div(class='panel panel-default')
						.panel-heading
							h2(class='panel-title') Feature
						.panel-body
							.radio
								label 
									input(type='radio' name='FeatureOptions' id='AnalysisServiceOption' value='AnalysisService') 
									| Analaysis Service
							.radio
								label
									input(type='radio' name='FeatureOptions' id='SqlEngineOption' value='SqlEngine' checked)
									|  SQL Engine
				.row
					div(class='panel panel-default')
						.panel-heading
							h2(class='panel-title') Platform
						.panel-body
							.radio
								label
									input(type='radio' name='PlatformOptions' id='x86Option' value='x86')
									|  x86
							.radio
								label
									input(type='radio' name='PlatformOptions' id='x64Option' value='x64' checked)
									|  x64
				.row
					div(class='panel panel-default')
						.panel-heading
							h2(class='panel-title') Version
						.panel-body
							.radio
								label
									input(type='radio' name='VersionOptions' id='Sql2008Option' value='Sql2008')
									|  SQL 2008
							.radio
								label
									input(type='radio' name='VersionOptions' id='Sql2008R2Option' value='Sql2008R2')
									|  SQL 2008 R2
							.radio
								label
									input(type='radio' name='VersionOptions' id='Sql2012Option' value='Sql2012')
									|  SQL 2012
							.radio
								label
									input(type='radio' name='VersionOptions' id='Sql2014Option' value='Sql2014')
									|  SQL 2014
							.radio
								label
									input(type='radio' name='VersionOptions' id='Sql2016Option' value='Sql2016' checked)
									|  SQL 2016			
			div(class='col-xs-3')
				div(class='panel panel-default')
					.panel-heading
						h2(class='panel-title') Scenario
					div(class='panel-body' id='scenariochecklist')
						

			div(class='col-xs-6 pull-right')
				ul(class='nav nav-tabs' role='tablist')
					li(role='presentation' class='active')
						a(href='#xevent' aria-controls='xevent' role='tab' data-toggle='tab') XEvent
					li(role='presentation' )
						a(href='#profiler' aria-controls='profiler' role='tab' data-toggle='tab') ProfilerTrace
					li(role='presentation' ) 
						a(href='#perfmon' aria-controls='perfmon' role='tab' data-toggle='tab') Perfmon
					li(role='presentation' )
						a(href='#custom' aria-controls='custom' role='tab' data-toggle='tab') Custom Diagnostics
					li(role='presentation' )
						a(href='#misc' aria-controls='misc' role='tab' data-toggle='tab') Misc
				.tab-content
					div(class='tab-pane active col-xs-12' role='tabepanel' id='xevent')
						div(class='row row-no-padding' id='xeventdetails')
							.col-xs-4
								div(class='panel panel-default')
									div(class='panel-heading')
										h2(class='panel-title') Capture Xevent
									.panel-body
										input(type='checkbox' id='xeventcapture')
							.col-xs-4
								div(class='panel panel-default')
									.panel-heading
										h2(class='panel-title') Max Size (MB)
									.panel-body
										div(class='input-group input-group-sm')
											input(class='form-control' type='text' id='xeventmaxsize')
							.col-xs-4
								div(class='panel panel-default')
									.panel-heading
										h2(class='panel-title') # Files
									.panel-body
										div(class='input-group input-group-sm')
											input(class='form-control' type='text' id='xeventfilecount')

						div(class='row' id='xeventcounters')
							div(class='panel panel-default')
								.panel-heading
									h2(class='panel-title') XEvent
								div(class='panel-body' id='xeventlist')
									

					div(class='tab-pane col-xs-12' role='tabepanel' id='profiler')
						div(class='row row-no-padding' id='profilerdetails')
							.col-xs-4
								div(class='panel panel-default')
									.panel-heading
										h2(class='panel-title') Capture Trace
									.panel-body
										input(type='checkbox' id='profilercapture')
							.col-xs-4
								div(class='panel panel-default')
									.panel-heading
										h2(class='panel-title') Max Size (MB)
									.panel-body
										div(class='input-group input-group-sm')
											input(class='form-control' type='text' id='profilermaxsize')
							.col-xs-4
								div(class='panel panel-default')
									.panel-heading
										h2(class='panel-title') # Files
									.panel-body
										div(class='input-group input-group-sm')
											input(class='form-control' type='text' id='profilerfilecount')

						div(class='row' id='profilertraceevents')
							div(class='panel panel-default')
								.panel-heading
									h2(class='panel-title') Profiler
								.panel-body
									p Profiler trace events go here
					div(class='tab-pane col-xs-12' role='tabepanel' id='perfmon')
						div(class='row row-no-padding' id='perfmondetails')
							.col-xs-4
								div(class='panel panel-default')
									.panel-heading
										h2(class='panel-title') Capture Perfmon
									.panel-body
										input(type='checkbox' id='perfmoncapture')
							.col-xs-4
								div(class='panel panel-default')
									.panel-heading
										h2(class='panel-title') Max Size (MB)
									.panel-body
										div(class='input-group input-group-sm')
											input(class='form-control' type='text' id='perfmonmaxsize')
							.col-xs-4
								div(class='panel panel-default')
									.panel-heading
										h2(class='panel-title') # Files
									.panel-body
										div(class='input-group input-group-sm')
											input(class='form-control' type='text' id='perfmonfilecount')
						div(class='row' id='perfmoncounters')
							div(class='panel panel-default')
								.panel-heading
									h2(class='panel-title') Perfmon
								.panel-body
									p Perfmon counters go here
					div(class='tab-pane col-xs-12' role='tabepanel' id='custom')
						div(class='row' id='customdiag')
							div(class='panel panel-default')
								.panel-heading
									h2(class='panel-title') Custom Diagnostics
								.panel-body
									p Customer Diagnostic list goes here
					div(class='tab-pane col-xs-12' role='tabepanel' id='misc')
						div(clas='row row-no-padding')
							div(class='panel panel-default')
								.panel-heading
									h2(class='panel-title') Collect Event Logs
								.panel-body
									.col-xs-6
										label
											input(type='checkbox' id='startuplogs')
											| Startup								
									.col-xs-6
										label
											input(type='checkbox' id='shutdownlogs')
											| Shutdown
						div(class='row row-no-padding')
							div(class='panel panel-default')
								.panel-heading
									h2(class='panel-title') Collect SQLDiag DMVs
								.panel-body
									.col-xs-6
										label
											input(type='checkbox' id='startupdmvs')
											| Startup
									.col-xs-6
										label
											input(type='checkbox' id='shutdowndmvs')
											| Shutdown

					
			
	script(src='//localhost:35729/livereload.js')