@charset "UTF-8";
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, menu, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  background: transparent; }

* {
  box-sizing: border-box; }

article, aside, figure, footer, header, hgroup, nav, section {
  display: block; }

img, object, embed {
  max-width: 100%; }

img {
  border-style: none;
  border-color: transparent;
  border-width: 0; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }
  blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }
  a:focus {
    text-decoration: underline;
    outline: none; }

del {
  text-decoration: line-through; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

input[type="radio"] {
  vertical-align: text-bottom; }

input, textarea, select, button {
  font-family: inherit;
  font-weight: inherit;
  background-color: #fff;
  border: 0;
  padding: 0;
  margin: 0; }

table {
  font-size: inherit; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

pre, code, kbd, samp {
  font-family: monospace, sans-serif; }

.clickable, input[type=button], input[type=submit] {
  cursor: pointer; }

button {
  cursor: pointer;
  margin: 0;
  width: auto;
  overflow: visible; }

a.button {
  display: inline-block; }

.ie7 img {
  -ms-interpolation-mode: bicubic; }

a:link {
  -webkit-tap-highlight-color: #1FB8F5; }

ins {
  background-color: #fffedf;
  color: black;
  text-decoration: none; }

mark {
  background-color: #fffedf;
  color: #363636;
  font-style: italic;
  font-weight: bold; }

::selection {
  background: #fffedf;
  color: #363636; }

::-moz-selection {
  background: #fffedf;
  color: #363636; }

@font-face {
  font-family: "milliman-icons";
  font-style: normal;
  font-weight: normal;
  src: url("milliman-icons.eot?#iefix") format("embedded-opentype"), url("milliman-icons.woff2") format("woff2"), url("milliman-icons.woff") format("woff"), url("milliman-icons.ttf") format("truetype"), url("milliman-icons.svg#milliman-icons") format("svg"); }

html {
  font: 0.8125em Segoe UI, Frutiger, Frutiger Linotype, Gill Sans, Dejavu Sans, Helvetica Neue, Arial, sans-serif;};
  line-height: 1.5em;
  color: #363636;
  -webkit-font-smoothing: antialiased; }

h1, h2, h3, h4, h5, h6 {
  font-size: 2.1875em;
  line-height: 1.1142857143em;
  margin-bottom: 0.5571428571em;
  color: #363636;
  font-weight: normal;
  font-family: Segoe UI, Frutiger, Frutiger Linotype, Gill Sans, Dejavu Sans, Helvetica Neue, Arial, sans-serif;}; }

h2 {
  font-size: 1.75em;
  line-height: 1.3928571429em;
  margin-bottom: 0.6964285714em; }

h3 {
  font-size: 1.125em;
  line-height: 1.0833333333em;
  margin-bottom: 1.0833333333em; }

h4 {
  font-size: 0.75em;
  line-height: 1.625em;
  margin-bottom: 1.625em; }

h5 {
  font-size: 0.75em;
  line-height: 1.625em;
  margin-bottom: 1.625em; }

h6 {
  font-size: 0.75em;
  line-height: 1.625em;
  margin-bottom: 1.625em; }

p {
  margin-bottom: 1.5em;
  text-indent: 0; }

a {
  color: #FF6625;
  text-decoration: none; }
  a:hover, a:active {
    text-decoration: none; }
  a:visited {
    color: #FF6625; }

.row-no-padding [class*="col-"] {
  padding-left: 0 !important;
  padding-right: 0 !important; }

[data-bind*=edit]:before, [data-bind*=save]:before, [data-bind*=cancel]:before, [rel=search]:before, .block-listing button:before, .primary-nav [rel="releases"]:before, .primary-nav [rel="features"]:before, .primary-nav [rel="docs"]:before, .primary-nav [rel="admin"]:before {
  font-family: milliman-icons;
  speak: none;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

input[type=email], input[type=password], input[type=text], textarea, input[type=number] {
  outline: none;
  font-size: 1.1em;
  color: #363636;
  border: 1px solid #c3c3c3;
  border-radius: 0;
  display: block;
  padding: 0.625em;
  width: 100%;
  margin-bottom: 1.0em;
  -webkit-appearance: none; }

textarea {
  height: 10em; }

label {
  display: block;
  margin-bottom: 0.3125em; }

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 2.5em; }
  table th, table td {
    padding: 1.25em 0.3125em; }
  table thead {
    text-align: left; }
  table tbody tr:nth-child(odd) {
    background-color: #f7f7f7; }

button, a.button, input[type=button], input[type=submit] {
  background-color: #fff;
  border: 1px solid #cccccc;
  box-shadow: 0 1px 1px -1px rgba(54, 54, 54, 0.8);
  text-transform: uppercase;
  color: #363636;
  line-height: 2em;
  border-radius: 0.1875em;
  padding: 0 0.625em;
  font-size: 0.75em;
  font-weight: normal;
  margin-bottom: 0.625em;
  -webkit-appearance: none; }
  button[disabled], a.button[disabled], input[type=button][disabled], input[type=submit][disabled] {
    color: rgba(54, 54, 54, 0.6); }
  button:hover, a.button:hover, input[type=button]:hover, input[type=submit]:hover {
    background-color: #e6e6e6; }
  button[disabled], button.disabled, a.button[disabled], a.button.disabled, input[type=button][disabled], input[type=button].disabled, input[type=submit][disabled], input[type=submit].disabled {
    background-color: #e6e6e6; }
    button[disabled]:hover, button.disabled:hover, a.button[disabled]:hover, a.button.disabled:hover, input[type=button][disabled]:hover, input[type=button].disabled:hover, input[type=submit][disabled]:hover, input[type=submit].disabled:hover {
      background-color: #e6e6e6;
      cursor: not-allowed; }
  @media screen and (max-width: 30em) {
    button, a.button, input[type=button], input[type=submit] {
      width: 100%; } }

fieldset button {
  display: block; }

[data-bind*=edit]:before {
  content: "";
  margin-right: 0.25em; }

[data-bind*=save] {
  background-color: #1ca6dd;
  border-color: #1684b0;
  color: #fff; }
  [data-bind*=save]:before {
    content: "";
    margin-right: 0.25em; }
  [data-bind*=save]:hover {
    background-color: #14749b; }

[data-bind*=cancel] {
  background-color: #e61a21;
  border-color: #b9141a;
  color: #fff; }
  [data-bind*=cancel]:before {
    content: "";
    margin-right: 0.25em; }
  [data-bind*=cancel]:hover {
    background-color: #a11217; }

.logo a {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden; }

.site-header, .primary-nav a, .tab-bar {
  text-transform: uppercase; }

[rel=search] {
  color: #fff; }
  [rel=search]:before {
    content: "";
    margin-right: 0.25em; }
  [rel=search]:visited {
    color: #fff; }

[data-notification]:after {
  font-size: 1rem;
  display: block;
  position: absolute;
  content: attr(data-notification);
  width: 1.5625em;
  height: 1.5625em;
  line-height: 1.5625em;
  font-weight: bold;
  border-radius: 50%;
  background-color: #FF6625; }

fieldset input[type=checkbox] + label {
  display: inline-block;
  margin-bottom: 1em; }
  fieldset input[type=checkbox] + label:after {
    content: ''; }

.primary-nav.fixed {
  position: fixed;
  top: 0; }

.badge {
  color: #fff;
  display: inline-block;
  padding: 0 0.625em;
  background-color: #136e93;
  text-transform: uppercase; }
  .badge[data-badge]:after {
    content: attr(data-badge);
    text-transform: uppercase; }

[data-badge=merged] {
  background-color: #87ce56; }

[data-badge=merge] {
  background-color: #62a136; }

.nav-tabs {
  display: -webkit-flex;
  display: flex;
  text-transform: uppercase;
  text-align: center; }
  .nav-tabs a {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    line-height: 3em;
    border-width: 1px;
    border-style: solid;
    border-color: transparent transparent #c3c3c3 transparent;
    color: #363636; }
    .nav-tabs a:hover {
      color: #FF6625; }
    .nav-tabs a.is-active {
      border-width: 1px;
      border-style: solid;
      border-color: #c3c3c3 #c3c3c3 transparent #c3c3c3; }

.block-listing {
  position: relative;
  padding: 1.25em; }
  .block-listing:nth-of-type(odd) {
    background-color: #f7f7f7; }
  .block-listing:last-of-type {
    margin-bottom: 2.5em; }
  .block-listing ul, .block-listing div {
    display: inline-block; }
  .block-listing .user {
    font-weight: bold; }
  .block-listing .listing-info {
    width: 20%;
    vertical-align: top; }
  .block-listing .message {
    width: 65%; }
  .block-listing .actions {
    position: absolute;
    top: 1.25em;
    right: 1.25em; }
  .block-listing button:before {
    content: "";
    margin-right: 0.25em; }

.site-header {
  position: relative;
  z-index: 1001;
  background-color: #4a4a4a;
  background-image: url("/images/logo.svg");
  background-repeat: no-repeat;
  background-size: 7.5em;
  background-position: 0.3125em 0.3125em;
  width: 100%;
  height: 2.5em;
  color: #fff; }
  .site-header .title {
    text-align: center;
    width: 100%;
    position: absolute;
    line-height: 2.5em; }
  .site-header .utility {
    float: right; }
    .site-header .utility a {
      display: inline-block;
      line-height: 2.5em;
      padding: 0 0.625em 0 0;
      margin-right: 1.25em; }
      .site-header .utility a:last-child {
        margin-right: 0; }

.logo {
  float: left;
  width: 25%;
  height: 1.875em;
  margin: 0 auto; }
  .logo a {
    display: block;
    width: 100%;
    height: 100%; }

.primary-nav {
  float: left;
  width: 5em;
  height: 100%;
  background-color: #4a4a4a; }
  .primary-nav a {
    position: relative;
    display: block;
    font-size: 0.6875em;
    padding-top: 3.125em;
    padding-bottom: 0.625em;
    text-align: center;
    color: #fff;
    width: 100%; }
    .primary-nav a:before {
      position: absolute;
      top: 0.625em;
      left: calc(50% - 0.55em);
      right: calc(50% - 0.55em);
      font-size: 2em; }
    .primary-nav a.is-active, .primary-nav a:hover {
      background-color: #1FB8F5; }
  .primary-nav [rel="releases"]:before {
    content: ""; }
  .primary-nav [rel="features"]:before {
    content: ""; }
  .primary-nav [rel="docs"]:before {
    content: ""; }
  .primary-nav [rel="admin"]:before {
    content: ""; }
  .primary-nav [data-notification]:after {
    top: 0.625em;
    right: 0.625em; }

.tab-bar {
  display: -webkit-flex;
  display: flex;
  margin-bottom: 2.5em; }
  .tab-bar a {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    color: #5e5e5e;
    line-height: 3.75em;
    background-color: #f7f7f7;
    text-align: center; }
    .tab-bar a:hover, .tab-bar a.is-active {
      background-color: #fff; }

* {
  box-sizing: border-box; }

body, html {
  height: 100%; }

.site-section {
  width: calc(100% - 80px);
  height: calc(100% - 40px);
  float: left; }
  .site-section.fixed {
    margin-left: 5em; }
  .site-section > article {
    padding: 0 2.5em;
    padding-bottom: 200px; }
